%h1 アンケート2
%p 下記に記入、送信お願いします。

%form{:method => "POST", :action => './comment'}
  %input{:type => "hidden", :name => "_method", :value => "PUT"}
  %table
    %tr
      %td お名前:
      %td 
        %input{:type => "text", :name => "namae", :size => 60}
    %tr
      %td メールアドレス:
      %td 
        %input{:type => "text", :name => "address", :size => 60}
    %tr
      %td 参加日:
      %td
        %select{:name => "attend"}
          %option 8月13日
          %option 8月14日
          %option 8月15日
    %tr
      %td 参加されたブースを全て選んでください。
      %td
        %input{:type => "checkbox", :name => "bootha", :value => "ブースA"} ブースA &emsp;
        %input{:type => "checkbox", :name => "boothb", :value => "ブースB"} ブースB &emsp;
        %input{:type => "checkbox", :name => "boothc", :value => "ブースC"} ブースC
    %tr
      %td 全体の内容はいかがでしたか？
      %td
        %input{:type => "radio", :name => "eval", :value => "良かった"} 良かった
        %br
        %input{:type => "radio", :name => "eval", :value => "まあまあ"} まあまあ
        %br
        %input{:type => "radio", :name => "eval", :value => "良くなかった"} 良くなかった
    %tr
      %td ご意見等があればご記入ください。
      %td
        %textarea{:name => "message", :cols => 80, :rows => 8}
    %tr
      %td
      %td
        %input{:type => "submit", :value => "送信する"}
        %input{:type => "reset", :value => "やり直し"}
